:root {
  background-color: #463434;
}

body {
  margin: 0;
}

.impressum {
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 1.2em;
  padding: 0.5rem;
  background-color: black;
}

.impressum a {
  color: rgb(15, 112, 136);
  text-decoration: none;
}
